<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/public/images/Bokehlicia-Pacifica-Amazon.ico">
    <title>
        {{#if title }}
            {{title}}
        {{else}}
           CPI-Dashboard
        {{/if}}
    </title>
    <style>
        body{
            background-color: #ffffff;
            background-image: url("/public/images/crissxcross.png");
            background-attachment: fixed;
        }
        *{
            font-family: "Lucida Console", Monaco, monospace;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}

</head>
<body>

    <header>
        {{> navbar }}
    </header>

    {{#> body-block}}
    {{!-- body content goes here. --}}
    {{/body-block}}


    <footer>
        {{#> footer-block}}

        {{/footer-block}}
    </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

    {{#> scripts-block}}
    {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}

</body>
</html>