<!-- Ref:-codeply -->
<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded">
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>Sub-Usecases</small>
        </li>
        <!-- Menu with submenu -->
        <a href="/config/all_queries/{{usecase_id}}" id="queries" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-table fa-fw mr-3"></span>
                <span class="menu-collapsed">Queries</span>
            </div>
        </a>
        <a href="/config/all_plots/{{usecase_id}}" id="plots" class=" list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-bar-chart fa-fw mr-3"></span>
                <span class="menu-collapsed active">Plots</span>
            </div>
        </a>
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>Usecase</small>
        </li>
        <a href="/config/usecase/{{usecase_id}}" id="usecase" class=" list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-edit fa-fw mr-3"></span>
                <span class="menu-collapsed">Edit</span>
            </div>
        </a>
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"></li>
        <!-- /END Separator -->
        <a href="#top" data-toggle="sidebar-colapse" class=" list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                <span id="collapse-text" class="menu-collapsed"> Collapse</span>
            </div>
        </a>
    </ul>
    <!-- List Group END-->
</div>
<!-- sidebar-container END -->