<div class="sidebar-container" style="box-shadow: 5px 1px 4px rgba(0,0,0,.08)">
    <ul class="sidebar-navigation">
        <li>
            <a href="/config/all_queries/{{usecase_id}}" id="queries">
                 Queries
            </a>
        </li>
        <li>
            <a href="/config/all_plots/{{usecase_id}}" id="plots">
                 Plots
            </a>
        </li>
        <li>
            <a href="/config/usecase/{{usecase_id}}" id="usecase">
                Edit-Usecase
            </a>
        </li>
    </ul>
</div>