<div class="sidebar-container" style="box-shadow: 5px 1px 4px rgba(0,0,0,.08)">
    <ul class="sidebar-navigation">
        <li>
            <a href="/config/all_queries/{{usecase_id}}" id="queries">
                <i class="fa fa-home" aria-hidden="true"></i> Queries
            </a>
        </li>
        <li>
            <a href="#" id="plots">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Plots
            </a>
        </li>
        <li>
            <a href="/config/usecase/{{usecase_id}}" id="usecase">
                <i class="fa fa-users" aria-hidden="true"></i> Edit-Usecase
            </a>
        </li>
    </ul>
</div>