{{#> base  }}

    {{#*inline "body-block" }}
        <div class="container-fluid">
            <br><br><br>
            <div class="row">
                <div class="col-md-5">
                    <div class="card ">
                        <div class="card-header">Instructions </div>
                        <div class="card-body">

                            <ol>
                                <li class="text-muted" style="margin-bottom:10px;">
                                    To  make query output vary with user input days, add <b>$timePeriod</b> with your date-time field, $timePeriod
                                        will then be replaced by user input at runtime.
                                    <br><br>
                                        Ex:-
                                        <br>
                                        SELECT id, timestamp  as download_time from table_name
                                    WHERE download_time> current_date- <b>$timePeriod</b>

                                </li>
                                <li class="text-muted" style="margin-bottom:10px;"><b>For Filter Type Queries :-</b></li>
                                    <ol type="i">
                                        <li class="text-muted" style="margin-bottom:10px;">In place of variable name in where and like clause,
                                            use following:-
                                            <br>
                                            {variable-name}
                                        </li>
                                        <li class="text-muted" style="margin-bottom:10px;">Only alphanumeric chars and underscore are allowed</li>
                                        <li class="text-muted" style="margin-bottom:10px;">
                                            <b>Ex:- <br>
                                                SELECT store_id,timestamp FROM reports WHERE store_id='{store_id}'
                                            </b>
                                        </li>
                                    </ol>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container card card-custom" style="padding-bottom: 20px;">
                        <form method="post" action="/config/query/add/{{usecase_id}}">
                            <div class="text-center" style="padding-top:28px ">
                                <h1 class="h3 mb-3 font-weight-normal">Add query for usecase_id :- {{usecase_id}}</h1>
                            </div>
                            <label class="text-muted">Type* :</label>
                            <select class="form-control" name="type" id="type" required>
                                <option value="count" >count</option>
                                <option value="percent" >percent</option>
                                <option value="filter" >filter</option>
                                <option value="custom">custom</option>
                            </select><br>
                            <label class="text-muted">Title* :</label>
                            <input type="text" name="title" class="form-control -p3" id="title" required><br>
                            <label class="text-muted">Query* :<a href="/run_query">(Test output before deploying)</a></label>
                            <textarea type="text" name="query" class="form-control -p3" id="text" rows=5 required></textarea>
                            <br>
                            <label class="text-muted">Description(Optional):</label>
                            <textarea type="text" name="description" class="form-control -p3" id="help" rows=3 ></textarea>
                            <br>
                            <button class="btn btn-md btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <hr>
    {{/inline}}

{{/base}}