{{#> base  }}

    {{#*inline "body-block" }}
        <div class="container">
            <br><br><br>
            <div class="container card" style="padding-bottom: 20px;">
                <form method="post" action="/handle_query/{{usecase_id}}/insert">
                    <div class="text-center" style="padding-top:28px ">
                        <h1 class="h3 mb-3 font-weight-normal">Add query for usecase_id :- {{usecase_id}}</h1>
                    </div>
                    <label>Type :</label>
                    <select class="form-control" name="type" id="type" required>
                        <option value="count/percent" >count/percent</option>
                        <option value="filter" >filter</option>
                        <option value="all_data">all_data</option>
                    </select><br>
                    <label >Title :</label>
                    <input type="text" name="title" class="form-control -p3" id="title" required><br>
                    <label>Query :</label>
                    <textarea type="text" name="query" class="form-control -p3" id="text" required></textarea>
                    <br>
                    <button class="btn btn-md btn-primary"type="submit">Submit</button>

                </form>
            </div>
        </div>
    {{/inline}}

{{/base}}