{{#> base  }}

    {{#*inline "body-block" }}
        <div class="container">
            <br><br><br>
            <div class="container card" style="padding-bottom: 20px;">
                <form method="post" action="/add">
                    <div class="text-center" style="padding-top:28px ">
                        <h1 class="h3 mb-3 font-weight-normal">Add !</h1>
                    </div>
                    <label>Id :</label>
                    <input type="text" name="id" class="form-control -p3" placeholder=""><br>
                    <label >Title :</label>
                    <input type="text" name="title" class="form-control -p3"><br>
                    <br>
                    <button class="btn btn-md btn-primary" type="submit">Submit</button>

                </form>
            </div>


        </div>
    {{/inline}}

{{/base}}