{{#> base  }}

    {{#*inline "body-block" }}
        <div class="container-fluid">
            <br><br><br>
            <div class="row">
                <div class="col-md-5">
                    <div class="card border-light ">
                        <div class="card-header">Instructions </div>
                        <div class="card-body">

                            <ol>
                                <li class="text-muted" style="margin-bottom:10px;"><b>For Filter Type Queries :-</b></li>
                                <li class="text-muted" style="margin-bottom:10px;">In place of variable name in where and like clause,
                                    use following:-
                                    <br>
                                    {variable_name}
                                </li>
                                <li class="text-muted" style="margin-bottom:10px;">Only alphanumeric chars and underscore are allowed</li>
                                <li class="text-muted" style="margin-bottom:10px;">
                                    <b>Ex:- <br>
                                        SELECT store_id,timestamp FROM reports WHERE store_id='{store_id}' and timestamp>getdate()-{past_days}
                                    </b>
                                </li>

                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container card" style="padding-bottom: 20px;">
                        <form method="post" action="/handle_query/{{usecase_id}}/insert">
                            <div class="text-center" style="padding-top:28px ">
                                <h1 class="h3 mb-3 font-weight-normal">Add query for usecase_id :- {{usecase_id}}</h1>
                            </div>
                            <label>Type :</label>
                            <select class="form-control" name="type" id="type" required>
                                <option value="count/percent" >count/percent</option>
                                <option value="filter" >filter</option>
                                <option value="all_data">all_data</option>
                            </select><br>
                            <label >Title :</label>
                            <input type="text" name="title" class="form-control -p3" id="title" required><br>
                            <label>Query :<a href="/run_query">(Test query before deploying)</a></label>
                            <textarea type="text" name="query" class="form-control -p3" id="text" rows=5 required></textarea>
                            <br>
                            <button class="btn btn-md btn-primary" type="submit">Submit</button>

                        </form>
                    </div>
                </div>
            </div>



        </div>
    {{/inline}}

{{/base}}