{{#> base  }}

    {{#*inline "head-block" }}
        <link rel="stylesheet" href="/static/pivottable/dist/pivot.css">
    {{/inline}}

    {{#*inline "body-block" }}

        <div class="container" >
            <p>{{title}}</p>
            <div id="output" class="table-responsive" style="height:600px"></div>

        </div>
    {{/inline}}

   
    {{#*inline "scripts-block" }}
        <!-- jquerui is a dependency for using pivotui function -->
        <script src="/static/jqueryui/jquery-ui.js"></script>
        <script src="/static/pivottable/dist/pivot.js"></script>
    
        <!-- CDNs (Plotly for graphic visualisation) -->
        <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js"></script>
        
        <!-- Scripts for pivottable  -->
        <script>

            $(document).ready(function() {
                let derivers = $.pivotUtilities.derivers;
                let renderers = $.extend($.pivotUtilities.renderers,
                        $.pivotUtilities.plotly_renderers);
                $("#output").pivotUI({{{result}}}, {
                    renderers: renderers,
                    rowOrder: "value_a_to_z", colOrder: "value_z_to_a",
                });
            });

        </script>
    {{/inline}}



{{/base}}

