{{#> base  }}

    {{#*inline "head-block" }}
        <link rel="stylesheet" href="/static/pivottable/dist/pivot.css">
    {{/inline}}

    {{#*inline "body-block" }}

        <div class="container">
            <h1>{{title}}</h1>
            <p id="pp">Welcome to {{title}}</p>

            <div id="output"></div>

        </div>
    {{/inline}}

    <!-- Scripts for pivottable  -->
    {{#*inline "scripts-block" }}
        <script src="/static/jqueryui/jquery-ui.js"></script>
        <script src="/static/pivottable/dist/pivot.js"></script>
        <script>
            $(document).ready(function() {
                    $("#output").pivotUI(
                        {{{result}}}
                    );
            });

        </script>
    {{/inline}}



{{/base}}

