{{#> base  }}

    {{#*inline "head-block" }}
        <link rel="stylesheet" href="/public/js/pivottable/dist/pivot.css">
    {{/inline}}

    {{#*inline "body-block" }}

        <div class="container" >
            <br><br>
            <h3 style="font-family: 'Hammersmith One', sans-serif;	border-left:5px solid black;padding-left: 10px"> {{title}}</h3>
            <br><br><br>
        </div>


    {{/inline}}

   
    {{#*inline "scripts-block" }}
        <!-- jquerui is a dependency for using pivotui function -->
        <script src="/static/jqueryui/jquery-ui.js"></script>
        <script src="/public/js/pivottable/dist/pivot.js"></script>

        <!-- CDNs (Plotly for graphic visualisation) -->
        <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js"></script>
        
        <!-- Scripts for pivottable and helpbox  -->
        <script>

            $(document).ready(function() {
                let derivers = $.pivotUtilities.derivers
                let renderers = $.extend($.pivotUtilities.renderers,
                        $.pivotUtilities.plotly_renderers)

                $("#output").pivotUI({{{result}}}, {
                    renderers: renderers,
                    rowOrder: "value_a_to_z", colOrder: "value_z_to_a",
                })
                //Popup Helpbox
                $('[data-toggle="popover"]').popover()
                $('.popover-dismiss').popover({
                    trigger: 'focus'
                })
            })

        </script>
    {{/inline}}



{{/base}}

