{{#> base  }}
{{#*inline "head-block" }}
    <link rel="stylesheet" href="/public/css/cards.css">
{{/inline}}
    {{#*inline "body-block" }}
        <div class="container">
            <br><br><br>
            <div class="row">
                <div class="col-md-10">
                    <h1 class="title">ADA-Dashboard</h1>
                </div>
                <div class="col-md-2" >
                    <a  style="float:right;" type="button" class="btn btn-secondary btn-lg" href="/add"><span></span> + Add</a>
                </div>
            </div>
            <div class="row"  style="float:right;" >
                <a type="button" class="btn btn-secondary btn-lg" href="/run_query"><span></span> Run Query</a>
            </div>

            <br><br><br>
        </div>

        <hr style=" border: 0; height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

        <div class="container">
            <div class="row">
                {{#if result}}
                    {{#each result}}
                        <div class="column">
                            <a href="/analytics/{{id}}" class="custom-card">
                                <div class="card">
                                    <p>{{title}}</p>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{else}}
                    <h3>No Results !</h3>
                {{/if}}
            </div>
        </div>

    {{/inline}}

{{/base}}

